@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ultra&display=swap');

:root {
    --af-body-font: "Spectral", serif;
    --af-heading-font: "Ultra", serif;
    --af-heading-color: #e34234;
    --md-text-font: var(--af-body-font);
}

:root > * {
    --md-accent-fg-color: var(--af-heading-color);
    --md-accent-fg-color--transparent: rgb(227 66 52 / 0.14);
    --md-accent-bg-color: #ffffff;
    --md-accent-bg-color--light: rgb(255 255 255 / 0.7);
}

body,
button,
input,
textarea,
select {
    font-family: var(--md-text-font);
}

.md-nav {
    font-size: 0.8rem;
}

.md-typeset :where(p, li, dl, dt, dd, blockquote, figcaption, td, th, summary) {
    font-size: 0.85rem;
}

.md-typeset :is(h1, h2, h3, h4, h5, h6) {
    color: var(--af-heading-color);
    font-family: var(--af-heading-font);
    font-weight: 400;
}
